body {
  background-image: url("./images/bg-texture.png");
}

/* ================== ACHIEVEMENT ================ */

.about__achievements {
  margin-top: 6rem;
}

.about__achievements-container {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 5rem;
}

.about__achievements-right {
  margin: 1.6rem 0 2.5rem;
}

.achievements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 5rem;
}

.achievements__card {
  background: var(--color-bg1);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}

.achievements__card:hover {
  background: var(--color-primary);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
}

.achievement__icon {
  background: var(--color-danger);
  padding: 0.6rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
}

.achievements__card:nth-child(2) .achievement__icon {
  background: var(--color-success);
}

.achievements__card:nth-child(3) .achievement__icon {
  background: rgb(255, 70, 255);
}

/* =============== TEAM ==================== */

.team {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.team__member {
  background: var(--color-bg3);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;

}

.team__member:hover {

   background: transparent;
   border-color: var(--color-primary);
}

.team__member-info * {
text-align: center;
margin-top: 1.4rem;

}

.team__member-socials {

  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);

}

.team__member-socials a {
  padding: 1rem;
}


.team__member:hover
.team__member-socials {
  right: 0;
}





/* ================= MEDIA QUERIED (TABLETS)============== */

@media  screen and (max-width: 1024px) {
  .about__achievements {
    margin-top: 3rem;
  }
  


.about__achievements-container {
  grid-template-columns: 1fr;
  gap: 4rem;
}

.about__achievements-left {
  width: 80%;
  margin: 0 auto;
}

.team__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.team__member {

  padding: 1rem;
}


}



/* ===============MEDIA QUERIES (MOBILE) ================ */


@media screen and (max-width: 550px){
 
 .achievements__cards {
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
 }

 .team__container{
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
 }

 .team__member {
  padding: 0;
 }

.team__member {
  margin-bottom: 1.5rem;
}



}